/*****************************************/
/* General Styling */

*,
*:before *:after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0px;
}

::selection {
  background-color: black;
  color: lawngreen;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

/******************************************/
/* Specific Styling */

.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  position: relative;
}
.header:hover {
  background-color: rgb(236, 241, 231);
}
.header h1:hover {
  color: lawngreen;
}
.heading-group {
  font-size: 4rem;
}
.main-heading {
  font-size: 1em;
}
.profession {
  font-size: 0.25em;
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(236, 241, 231);
  color: black;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
  .navigation {
    display: none;
  }
}

@media screen {
  footer {
    display: none;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: black;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: lawngreen;
  background-color: black;
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.main {
  max-width: 50ch;
  margin: 0 auto;
  padding: 1rem;
}
.main:hover {
  background-color: rgb(236, 241, 231);
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid grey;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.artical-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}
.experience-subheading {
  display: inline-block;
}

.greendots {
  color: chartreuse;
}

.contact-links {
  color: lawngreen;
}
.contact-links:hover {
  color: green;
}
